[submodule "hugo-blog/themes/ananke"]
	path = hugo-blog/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "hugo-blog/themes/hugo-coder"]
	path = hugo-blog/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "hugo-blog/themes/terminal"]
	path = hugo-blog/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "hugo-blog/themes/tailwind"]
	path = hugo-blog/themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
